<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
            rel="stylesheet"
        />
    <title>dictionary website</title>
    <link rel="stylesheet" href="./index.css"/>
</head>
<body>

    <div class="container">
        <form action="/submit" method="post">
        <div class="search-box">
            <input type="text" placeholder="enter the word here" name="value" id="inp-word"/>
            <button id="search-btn" type="submit ">search</button>
        </div>
    </form>
    <% if(locals.info){ %>
       <div class="result">
        <div class="word">
            <h3 id="word-heading"><%= info.word %></h3>
            <button><i class="fa-solid fa-volume-high"></i></button>
        </div>
        <div class="details">
            <p><%= info.partOfSpeech %></p>
            <p>/<%= info.phonetic %>/</p>
        </div>
        <p class="word-meaning">
            <%= info.partsofspeech %>
        </p>
        <p class="word-example">definition:<%= info.definition %></p>
       </div>
       <% } else{ %>
        <h2>word not found</h2>
        <% } %>

    </div>
  <script src="./index.js" charset="UTF-8"></script>  
</body>
</html>